<!DOCTYPE html>
<html lang="en">

<head>
    <title>home</title>
    <%- include("./header") %>
</head>

<body>

    <%- include("./menu") %>
        <div class="container" style="margin-top:70px">
            <div class="row">
                <%- include("./content_left") %>
                    <div class="col-sm-8">
                        <h5 class="text-center text-danger">Contact</h5><br>
                        <p class="text-center text-info">Vui long kiem tra mail trong vong 1 ngay sau</p>
                    </div>
            </div>
        </div>
        <%- include("./footer") %>
</body>

</html>