<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./header") %>
        <title>forget password</title>
</head>

<body background="/images/anh_nen.jpg">
    <form class="form_login" method="POST" action="/getpass">
        <h1>get password</h1>
        <input placeholder="username" type="text" required="" name="Username">
        <input placeholder="email" type="email" required="" name="Email" autofocus="">
        <input type="submit" value="get password">
    </form>
</body>

</html>